input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

.price-input {
  -moz-appearance: textfield;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
  padding: 8px 6px;
  font-weight: 400;
  border-radius: 6px;
  transition: all 0.3s;
  &:hover {
    border-color: #dcdcdc;
  }
  &:focus {
    outline: none;
    border-color: #ff9900;
  }
}

.price-submit {
  height: 34px;
  margin-top: -1px;
  font-size: 12px;
  padding: 3px;
  border-radius: 6px;

  font-weight: 500;
  transition: all 0.3s;
}

.rc-slider {
  & .rc-slider-track {
    background-color: #ff9900;
  }

  & .rc-slider-handle {
    border-color: #ff9900;
  }

  & .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: #ff9900;
    box-shadow: 0 0 0 5px #ff9900;
  }

  & .rc-slider-handle:active {
    box-shadow: 0 0 5px #ff9900;
  }
}
