$controls-brd-radius: 10px;
$side-border: 1px solid #dadada;

.control {
  font-size: 15px;
  background: #ececec;
  border: none;
  font-weight: 600;
  width: 100%;
  border-radius: $controls-brd-radius;
  padding: 10px;
}

.sortButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: $side-border;
}

.sortIcon {
  margin-right: 10px;
  font-size: 27px;
}

.filterButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: $side-border;
}

.filterIcon {
  margin-right: 10px;
}

.badge {
  flex-basis: 50%;
}

.badgeDot {
  right: 8px;
}
