@import '../../utils/shared.scss';

.swiper-container {
  position: relative;
  flex-basis: 100%;
  padding: 5px 8px;
  height: 100%;
  overflow: hidden;
  margin: 0;
  max-width: 1000px;
  max-height: 545px;
  border-radius: 4px;
  & .swiper-scrollbar {
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
  }

  .swiper-scrollbar-drag {
    background: rgba(0, 0, 0, 0.6);
  }
}

.slide-image-box {
  width: inherit;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.swiper-wrapper {
  margin: 0;
  list-style: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media screen and (min-width: $md) {
  .swiper-container {
    flex-basis: 70%;
    padding: 0;
    padding-right: 10px;

    & .swiper-scrollbar {
      display: none;
    }
  }

  .slide-image-box {
    border-radius: 0;
  }
}

@media screen and (min-width: $lg) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    color: #fff;
    padding: 33px 25px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
  }

  .swiper-button-prev {
    left: -10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  & .swiper-button-next {
    right: -10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .swiper-container:hover {
    & .swiper-button-prev {
      left: 10px;
    }

    & .swiper-button-next {
      right: 10px;
    }
  }
}
