.container {
  display: flex;
  padding: 0 10px 10px 10px;

  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.linkWrapper {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  overflow: hidden;
  flex-basis: 100%;
  border-radius: 12px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  background-color: #f3f3f3;
  -webkit-tap-highlight-color: transparent;
  @include _minTablet {
    flex-basis: 49%;
    padding: 0;
    &:hover {
      & .imageBox {
        transform: scale(1.1);
      }
    }
  }
}

.imageBox {
  width: 100%;
  user-select: none;
  transition: all 0.3s;
  & > img {
    width: 100%;
    height: 100%;
  }
}

.content {
  position: absolute;
  user-select: none;
  top: 50%;
  left: 47%;
  transform: translate(0, -50%);
}

.leftContent {
  left: 55%;
}

.title {
  font-size: 23px;
  font-weight: 500;
  margin: 0;
  color: #343434;
  user-select: none;
  text-align: center;
  margin-bottom: 3px;
}

.buttonWrapper {
  margin-top: 17px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.plug {
  display: inline-block;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 14px;
  border: 1px solid #232323;
  transition: all 0.2s;
  color: #fff;
  background-color: #232323;
  @include _minTablet {
    &:hover {
      color: #343434;
      background-color: transparent;
    }
  }
}
