.container {
  position: fixed; // INFO: fix for Chrome: https://developer.chrome.com/blog/url-bar-resizing/
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  margin: 0;
  padding: 20px 10px 0 10px;
  flex-grow: 1;
  overflow-y: auto;
}
