@import '../../utils/shared.scss';

.wrapper {
  max-width: 1700px;
  margin: 0 auto;
  padding-top: 17px;
}

.viewBox {
  background-color: #fff;
  flex-grow: 0;
  border-radius: 7px;
  margin-left: 7px;
  max-width: 100%;
  flex-basis: 100%;
}

.loaderWapper {
  display: flex;
  height: calc(100 * var(--vh));
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.pageContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0 7px;
}

.controlContainer {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.productsContainer {
  max-width: 100%;
  flex-basis: 100%;
  height: 100%;
}

.filterButtonWrapper {
  display: flex;
  justify-content: center;
}

.filterButton {
  max-width: 335px;
  background: none;
  border: 2px solid;
  border-color: #343434;
  font-weight: 600;
  color: #343434;
  &:disabled {
    border-color: rgba(0, 0, 0, 0.26);
  }
  &:hover {
    background: none;
  }
}

.filtersBox {
  position: fixed;
  top: 0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  right: -100%;
  outline: none;
  z-index: 1200;
  width: 100%;
  max-width: 300px;
  height: calc(100 * var(--vh));
  overflow-x: hidden;
  background-color: #fff;
  transition: all 0.3s;
}

.filtersBoxVisible {
  right: 0;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh));
  background-color: rgba(0, 0, 0, 0.5);
}

.overlayVisible {
  display: block;
}

@media screen and (min-width: $md) {
  .filterButtonWrapper {
    justify-content: flex-end;
  }

  .filterButton {
    max-width: 170px;
    margin-right: 5px;
  }
}

@media screen and (min-width: $lg) {
  .root {
    background-color: #f5f5f4;
  }

  .controlContainer {
    width: auto;
    max-width: initial;
    flex-basis: initial;
  }

  .loaderWapper {
    height: 100%;
  }

  .viewBox {
    max-width: initial;
    flex-grow: 1;
    width: calc(100% - 307px);
    flex-basis: initial;
  }

  .filterButtonWrapper {
    @include hide;
  }

  .filtersBox {
    position: static;
    right: 0;
    height: 100%;
    border-radius: 7px;
  }

  .overlay {
    display: none !important;
  }
}

@media screen and (min-width: $desktop) {
  .filtersBox {
    width: 300px;
  }
}
