$light: $main-color;
$dark: #fafafa;
$time: 200ms linear;
$line-size: 3px;

@mixin shape {
  fill: none;
  stroke-width: $line-size;
  stroke-miterlimit: 10px;
}

.root {
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.container {
  cursor: pointer;
}

.moon {
  @include shape();
  stroke: $light;
  transition:
    transform $time,
    stroke $time;
  transform: translateX(0px);
}

.toggleInput:checked + svg .moon {
  transform: translateX(12px);
  stroke: $dark;
}

.moonmask {
  transition: transform $time;
  transform: translateX(0px);
}

.toggleInput:checked + svg .moonmask {
  transform: translateX(-12px);
}

.sunmask {
  transition: transform $time;
  transform: translateX(0px);
}

.toggleInput:checked + svg .sunmask {
  transform: translateX(12px);
}

.beams {
  stroke: $light;
  stroke-dasharray: 10px;
  stroke-dashoffset: 0px;
  transition:
    stroke-dashoffset $time,
    stroke $time;
}

.beams line {
  @include shape();
}

.toggleInput:checked + svg .beams {
  stroke-dashoffset: 10px;
  stroke: $dark;
}

.sun {
  @include shape();
  transition: stroke $time;
  stroke: $light;
}

.toggleInput:checked + svg .sun {
  stroke: $dark;
}
