@import '../../../utils/shared.scss';

.swiperContainer {
  & ul {
    @include reset-list;
  }
}

.buttonPrev,
.buttonNext {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b3b3b;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 50%;
  transition: all 0.3s;
  user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: scale(1.2);
  }
  &::after {
    font-family: swiper-icons;
    font-size: 25px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }
}

.buttonPrev {
  left: 10px;
  &::after {
    content: 'prev';
  }
}

.buttonNext {
  right: 10px;
  &::after {
    content: 'next';
  }
}

.subSwiperContainer {
  margin-top: 20;
  & ul {
    @include reset-list;
  }
}

.slideImage {
  user-select: none;
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.pagination {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
}

.item {
  align-items: center;
  background: 0 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  height: 10px;
  margin-right: 8px;
  opacity: 1;
  width: 100%;
  font-size: 0;
  &:last-child {
    margin: 0;
  }
  &:before {
    content: '';
    background: #dedede;
    height: 2px;
    width: 100%;
    transition: 0.3s;
  }
}

.active {
  &:before {
    content: '';
    background: #3b3b3b;
  }
}

@media screen and (min-width: $md) {
  .root {
    display: flex;
  }

  .pagination {
    display: none;
  }

  .buttonPrev,
  .buttonNext {
    width: 50px;
    height: 50px;
    &:hover {
      color: rgb(139, 139, 139);
    }
  }
}

@media screen and (min-width: $lg) {
  .root {
    margin-top: 80px;
  }
}
