$main-color: #ff9900;

$xs: 0px;
$sm: 450px;
$md: 600px;
$tablet: 800px;
$lg: 900px;
$laptop: 1000px;
$xl: 1200px;
$desktop: 1400px;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin logo {
  font-size: 47px !important;
  font-weight: 500 !important;
  color: transparent;
  background: linear-gradient(to right, #fc4a1a, #ffdd00, #f7b733);
  user-select: none;
  -webkit-background-clip: text;
}
