$main-color: #ff9900;

$xs: 0px;
$sm: 450px;
$md: 600px;
$tablet: 800px;
$lg: 900px;
$laptop: 1000px;
$xl: 1200px;
$desktop: 1400px;

.light {
  --font-color: #343434;
  --footer-bg: #f8f8f8;
  --sub-footer-bg: #eaeaea;
  --sub-title-color: #515154;
  --catalog-bg-primary: #fff;
  --catalog-bg-secondary: #edf2f7;

  --green: #2bab2b;
  --green-light: #32cd32;
}

.dark {
  --font-color: #fff;
  --footer-bg: #333;
  --sub-footer-bg: #252121;
  --sub-title-color: #c1c1c1;
  --catalog-bg-primary: #363636;
  --catalog-bg-secondary: #1e1e1e;

  --green: #2bab2b;
  --green-light: #32cd32;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin logo {
  font-size: 47px !important;
  font-weight: 500 !important;
  color: transparent;
  background: linear-gradient(to right, #fc4a1a, #ffdd00, #f7b733);
  user-select: none;
  -webkit-background-clip: text;
}

@mixin hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
