.container {
  position: relative;
  flex-basis: 100%;

  padding: 5px 8px;
  overflow: hidden;

  @include _minTablet {
    flex-basis: 70%;
    padding: 0;
    margin-right: 15px;
  }
}

.slider {
  @include reset-list;
  border-radius: 10px;
  & li {
    max-height: 450px;
  }

  @include _minTablet {
    border-radius: 20px;
  }
}

.underLink {
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: 100%;
  background: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.fallback {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
