@import '../../utils/shared.scss';

$text-color: #a29e9e;

@mixin h5-title {
  & h5 {
    font-size: 15px;
    margin-bottom: 25px;
  }
}

.wrapper {
  background: #333;
}

.root {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 30px 5% 15px 5%;
  max-width: 1400px;
  margin: 0 auto;
}

.contact {
  color: #fff;
  flex-basis: 100%;
  max-width: 420px;
  padding-top: 30px;
  @include h5-title;
}

.contactMessage {
  color: #9ea29e;
  font-size: 15px;
  margin: 0;
  margin-bottom: 14px;
}

.contactDetails {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  & li {
    flex-basis: 50%;
    margin-bottom: 14px;
  }
  & p {
    font-size: 14px;
    color: $text-color;
  }
  & span {
    font-size: 13px;
  }
}

.column {
  @include h5-title;
  margin: 0;
  padding: 0;
  flex-basis: 50%;
  color: #fff;
  margin-top: 30px;
  & ul {
    @include reset-list;
  }
  & a {
    text-decoration: none;
  }
  & p {
    font-size: 15px;
    color: $text-color;
    margin-bottom: 5px;
    transition: color 0.2s;
    &:hover {
      color: $main-color;
    }
  }
}

// TODO: temp solution
.theme {
  display: block;
  position: absolute;
  top: -10px;
  right: 25px;
}

.brand {
  width: 100%;
  position: relative;
  & a {
    text-decoration: none;
  }
}

.logo {
  @include logo;
}

.logoBox {
  display: flex;
  padding-left: 4px;
}

.icon {
  padding-top: 4px;
  margin-right: 14px;
  height: 42px !important;
  font-size: 20px !important;
  fill: $text-color;
}

.phone {
  color: #fff;
  font-weight: 500 !important;
  font-size: 21px !important;
}

.socialMedia {
  @include reset-list;
  display: flex;
  margin-top: 5px;
}

.socialMediaIcon {
  font-size: 15px;
  fill: #a0a0a0;
  margin-right: 8px;
  transition: fill 0.2s;
  &:hover {
    fill: $main-color;
  }
  & svg {
    width: 20px;
    height: 20px;
  }
}

.subFooter {
  background-color: #252121;
  padding: 10px 0;
  color: $text-color;
  text-align: center;
  & > span {
    font-size: 12px;
  }
}

@media screen and (min-width: $lg) {
  .column {
    flex-basis: 25%;
    max-width: 200px;
  }

  .contact {
    flex-basis: 50%;
    margin-left: auto;
  }
}

@media screen and (min-width: $xl) {
  .root {
    padding: 35px 20px 20px 20px;
  }

  .brand {
    width: auto;
    margin-right: auto;
  }

  .column {
    margin-top: 0;
    flex-basis: initial;
  }

  .contact {
    padding-top: 0;
    margin-left: 0;
  }

  .info {
    margin-right: 30px;
  }

  .category {
    margin-right: 85px;
  }

  .theme {
    right: -25px;
  }
}

@media screen and (min-width: $desktop) {
  .info {
    margin-right: 45px;
  }

  .category {
    margin-right: 110px;
  }

  .socialMedia {
    padding-left: 5px;
  }
}
