.root {
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;

  @include _minLG {
    margin-top: 20px;
  }

  @include _minXL {
    flex-wrap: nowrap;
  }
}

.sliderWrapper {
  position: relative;
  flex-basis: 100%;
  border-radius: 14px;

  @include _minXL {
    flex-basis: 85%;
    max-width: 85%;
  }
}

.previewSlider {
  cursor: grab;
  @include reset-list;
  border-radius: 14px;
  transition: height 300ms;
  height: auto;
  & li {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: auto !important;
  }
}

.slideImage {
  width: 100%;
  display: block;
  user-select: none;
  border-radius: 14px;
  object-fit: cover;

  @include _minDesktop {
    border-radius: 14px;
  }
}

.navigationButton {
  position: absolute;
  top: 45%;
  width: 45px;
  height: 45px;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 50%;
  transition: all 0.3s;
  color: #afafaf;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: scale(1.2);
  }
  @include _minMD {
    display: flex;
    width: 50px;
    height: 50px;
  }
}

.prevButton {
  @include _minMD {
    left: 3%;
  }
  @include _minLaptop {
    left: 4%;
  }
}

.prevButtonIcon {
  fill: #000;
  transform: rotate(-90deg);
}

.nextButton {
  @include _minMD {
    right: 3%;
  }
  @include _minLaptop {
    right: 4%;
  }
}

.nextButtonIcon {
  transform: rotate(90deg);
}
