.root {
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  @include _minLG {
    margin-top: 20px;
  }

  @include _minXL {
    flex-wrap: nowrap;
  }
}

.swiperContainer {
  overflow: hidden;
  border-radius: 14px;
  flex-basis: 100%;
  & ul {
    @include reset-list;
  }

  @include _minXL {
    border-radius: 14px;
  }
}

.subSwiperContainer {
  margin-top: 20;
  & ul {
    @include reset-list;
  }
}

.slideImage {
  user-select: none;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;

  @include _minDesktop {
    border-radius: 14px;
  }
}
