.root {
  padding-top: 11px;
}

.swiperContainer {
  overflow: hidden;
  & ul {
    @include reset-list;
  }
}

.subSwiperContainer {
  margin-top: 20;
  & ul {
    @include reset-list;
  }
}

.slideImage {
  user-select: none;
  width: 100%;
  display: block;
  border-radius: 14px;
  margin: 0 auto;
  max-width: 650px;
}

@media screen and (min-width: $md) {
  .root {
    padding-top: 0;
    display: flex;
  }
}

@media screen and (min-width: $lg) {
  .root {
    margin-top: 50px;
  }
}
