.light {
  --font-color: #343434;
  --footer-bg: #f8f8f8;
  --sub-footer-bg: #eaeaea;
  --sub-title-color: #515154;
}

.dark {
  --font-color: #fff;
  --footer-bg: #333;
  --sub-footer-bg: #252121;
  --sub-title-color: #c1c1c1;
}
